## ---------------------- GENERAL ------------------------------
deploy_account            = ""
aws_deploy_account_number = ""

## ---------------------- SPECIFIC ------------------------------
cpu                  = "512"
memory               = "2048"
cors_allowed_origins = ""
desired_count        = 1
environment          = ""
